
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.password-group {
    position: relative;

    .show-password-btn{
        position: absolute;
        right: 10px;
        top: 3px;
    }
}

.registration_form {
    opacity: 1;
}
.site_title {
    font-size: 13px;
}

.share-with-block {
    .share-with-users {
        list-style: none;
        padding: 0px;
    }
}

.files-list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        display: inline-block;
        margin-right: 20px;
        position: relative;

        .remove-file {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .file-icon {
            text-align: center;
        }

        .file-name {
            text-align: center;
        }
    }
}

.atach-files-group {
    .file-line {
        margin-bottom: 5px;
        position: relative;
        padding-left: 15px;

        &.last {
            padding-left: 0px;

            .remove-line {
                display: none;
            }
        }

        .remove-line {
            position: absolute;
            left: 0px;
            top: 8px;
            margin-right: 10px;
        }
    }
}
