@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "~tailwindcss/base.css";

@import "~tailwindcss/components.css";

@import "~tailwindcss/utilities.css";

.app-full-height {
  min-height: calc(100vh - 80px);
}

.group-item {
  .edit-group-btn {
    display: none;
  }

  &:hover {
    .edit-group-btn {
      display: block;
    }
  }
}