@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "~tailwindcss/base.css";

@import "~tailwindcss/components.css";

@import "~tailwindcss/utilities.css";

.app-full-height {
  height: calc(100vh - 80px);
}
